* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
main {
  margin: 0 10px;
}

html,
button {
  font-family: "Verdana", Arial, sans-serif;
  /* Check Google Fonts */
  font-size: 16px;
}

header {
  height: 38px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

p {
  padding: 10px 0;
}

ul {
  margin: 20px 0;
  list-style: none;
}

li {
  padding: 5px;
  margin: 3px 0;
  border-bottom: 2px solid #7cceee;
}

/* add li:done here */

li.done {
  background: #eee;
  border-right: 30px solid #7cceee;
}

li.done:after {
  content: "\2713";
  float: right;
  margin-right: -25px;
}

input {
  padding: 6px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* button {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
  border-bottom-color: #333;
  border: 1px solid #075574;
  background-color: #9ce3ff;
  border-radius: 5px;
  color: #333;
  padding: 5px 15px;
  cursor: pointer;

  /* transition: 0.3s ease-in-out; */
/* text-shadow: #b2e2f5 0 1px 0; */

button {
  width: 150px;
  height: 60px;
  left: 50px;
  top: 350px;
  background: #83f0ff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

button:hover {
  transition: 0.2s ease-in-out;
  background-color: #fffd6e;
}
