* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
main,
footer {
  margin: 0 10px;
}

html,
button {
  font-family: "Verdana", Arial, sans-serif;
  /* Check Google Fonts */
  font-size: 16px;
}

header {
  height: 38px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

p {
  padding: 10px 0;
}

ul {
  margin: 20px 0;
  list-style: none;
}

li {
  padding: 5px;
  margin: 3px 0;
  border-bottom: 2px solid #7cceee;
}

/* add li:done here */

input {
  padding: 6px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
  border-bottom-color: #333;
  border: 1px solid #075574;
  background-color: #9ce3ff;
  border-radius: 5px;
  color: #333;
  padding: 5px 15px;
  cursor: pointer;
  
  /* transition: 0.3s ease-in-out; */
  /* text-shadow: #b2e2f5 0 1px 0; */
}

button:hover {
  transition: 0.2s ease-in-out;
  background-color: #fffd6e;
}
